* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    background-color: lightgray;
}

.components {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
    max-width: 1200px;
    gap: 5em;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.page-header {
    font-family: Permanent Marker;
    font-size: 60px;
    margin-bottom: 0.25em;
}

.page-subheading {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

.page-label-row, .page-label-col {
    font-family: Permanent Marker;
    font-size: 40px;
    color: #5E5D5D;
    text-align: center;
    margin: 0 1em 0 0;
}

.page-label-row {
    text-align: end;
}

/* Button styling */

button {
    background-color: #E5E7EB;
    color: #4B5563;
    border: 1px solid #6B7280;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

button:focus {
    outline: none;
}

button.button-sm {
    padding: 7px 11px;
    font-size: 12px;
}

button.button-lg {
    padding: 13px 25px;
}

button.button-success {
    color: #047857;
    background-color: #ECFDF5;
    border-color: #047857;
}
 
button.button-warning {
    color: #FBBF24;
    background-color: #FFFBEB;
    border-color: #FBBF24;
}
 
button.button-danger {
    color: #F87171;
    background-color: #FEF2F2;
    border-color: #F87171;
}

/* Menu Styling */

.menu {
    position: fixed;
    left: 2em;
    top: 1em;
    display: inline-block;
    align-self: flex-start;
    z-index: 2;
}

.menu-button {
    background-color: white;
}

.menu-dropdown {
    position: absolute;
    left: 0;
    margin-top: 3px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
}

.menu-item {
    color: #4B5563;
    padding: .75rem 2rem;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menu-item:hover {
    background-color: whitesmoke;
}

.menu-item:not(:last-child) {
    border-bottom: 1px solid #6B7280;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    transition: background-color .3s ease-in-out;
}

.box.filled {
    background-color: blue;
}

/* Badge styling */

.badge-grid {
    display: grid;
    grid-template: 1fr 1fr / 0.25fr 1fr;
}

.badge-row {
    display: inline-flex;
    gap: 10px;
}

.badge {
    font-size: 14px;
    font-weight: 500;
    padding: 2px 12px;
    align-self: center;
}

.badge-square {
    border-radius: 4px;
}

.badge-pill {
    border-radius: 12px;
}

.badge-gray {
    color: #1F2937;
    background: #F3F4F6;
}

.badge-red {
    color: #991B1B;
    background: #FEE2E2;
}

.badge-yellow {
    color: #92400E;
    background: #FEF3C7;
}

.badge-green {
    color: #065F46;
    background: #D1FAE5;
}

.badge-blue {
    color: #1E40AF;
    background: #DBEAFE;
}

.badge-indigo {
    color: #3730A3;
    background: #E0E7FF;
}

.badge-purple {
    color: #5B21B6;
    background: #EDE9FE;
}

.badge-pink {
    color: #9D174D;
    background: #FCE7F3;
}

/* Banner styling */
.banner-grid {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1em;
}

.banner {
    display: flex;
    flex-basis: 200px;
    flex-grow: 0;
    align-items: flex-start;
    gap: 12px;
    padding: 16px;
    border-radius: 6px;
    font-size: 14px;
}

.banner-title {
    margin-top: 2px;
    font-weight: 600;
}

.banner-text {
    margin-bottom: 0;
}

/* Card styling */
.card-grid {
    display: grid;
    grid-template: 250px 250px / 400px 400px;
    gap: 3em;
    margin-top: 2em;
}

.card {
    position: relative;
    border-radius: 8px;
    background: #F9FAFB;
    padding: 56px 24px 32px 24px;
    text-align: center;
}

.card-icon {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -10%;
    left: 45%;
    right: auto;
    padding: 12px;
    border-radius: 6px;
}

/* Testimonial styling */
.testimonial-with-image, .testimonial-no-image {
    display: flex;
    margin-top: 3em;
}

.testimonial-text {
    font-size: 1.25rem;
}

.testimonial-name, .testimonial-occupation {
    margin: 0;
    line-height: 1.5em;
    font-size: 1rem;
}

.testimonial-name {
    font-weight: 700;
    margin-top: 1.5em;
}

.testimonial-with-image {
    position: relative;
    background-color: #2545B8;
    color: white;
    padding: 3em 2em 3em 25em;
}

.testimonial-image {
    position: absolute;
    top: -2em;
    left: 2em;
    max-height: 130%;
}

.testimonial-with-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.testimonial-no-image {
    flex-direction: column;
    align-items: center;
    background: #F9FAFB;
    margin-bottom: 3em;
    padding: 3em 10em 2em 10em;
}

.testimonial-logo {
    margin-bottom: 2em;
}

@media (max-width: 1050px) {
    .testimonial-with-image {
        width: 400px;
        margin-top: 6em;
        padding: 9em 1em 4em 1em;
        flex-direction: column;
    }

    .testimonial-image {
        width: 350px;
        height: 200px;
        object-fit: cover;
        object-position: 50% 20%;
        top: -5em;
        left: 25px;
    }

    .testimonial-no-image {
        width: 400px;
        align-items: start;
        padding: 5em 1em;
    }

    .testimonial-logo {
        align-self: center;
    }
}

/* Tooltips styling */
.tooltips-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.tooltip {
    border-radius: 0.5em;
    padding: 1em;
    font-size: 0.875rem;
    transition: opacity 0.5s ease-in-out;
}

.tooltip-hidden {
    opacity: 0;
}

.tooltip-header {
    display: flex;
    align-items: center;
    gap: 1em;
}

.tooltip-title {
    flex-grow: 1;
    font-size: inherit;
    font-weight: 500;
}

.tooltip-close-btn {
    justify-self: flex-end;
    background-color: inherit;
    border: none;
    box-shadow: none;
}

.tooltip-hidden .tooltip-close-btn {
    cursor: default;
}

.tooltip-text {
    line-height: 1.25em;
}

/* Toast styling */
.toast {
    width: 25em;
    display: flex;
    align-items: start;
    position: fixed;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
    border-radius: 0.5rem;
    padding: 1em;
    bottom: 3em;
    right: 3em;
    transition: opacity 0.5s ease-in-out;
}

.toast-hidden {
    opacity: 0;
}

.toast-button-row {
    display: flex;
    gap: 1em;
}

.toast-icon {
    margin-right: 0.75em;
}

.toast-title {
    font-weight: 600;
    margin: 0 0 0.5em 0;
}

.toast-text {
    margin: 0;
}